@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --md-text-font: "Pretendard", sans-serif !important;
    --md-typeset-font-size: 12px !important;  /* 작은 크기 테스트 */
}

.md-content {
    font-size: 12px !important;  /* 작은 크기 테스트 */
}
